<ActionBar class="action-bar" title="MainMenu" horizontalAlignment="center">
    
        <NavigationButton text="menu" icon="res://baseline_menu_black_36" (tap)="openDrawer()" *ngIf="isNavVisible"></NavigationButton>
        <ActionItem icon="res://baseline_menu_black_36pt" ios.position="left" (tap)="openDrawer()" *ngIf="isItemVisible"></ActionItem>

</ActionBar>
<scrollView orientation = "vertical">

    <!-- GridLayout with CardView and Label NativeScript -->
    <stacklayout style.backgroundcolor="lightgray" width="100%" xmlns:card="nativescript-cardview" id = "outStack">
    

        


        

        
        
    </stacklayout>
</scrollView>

