<Page class = "page">
    <ActionBar class="action-bar" title="MainMenu" horizontalAlignment="center">
        <NavigationButton text="menu" android.systemIcon="menu_frame" (tap)="openDrawer()"></NavigationButton>
    </ActionBar>
    <scrollView orientation = "vertical">

     <!-- GridLayout with CardView and Label NativeScript -->
        <stacklayout style.backgroundcolor="lightgray" width="100%" xmlns:card="nativescript-cardview" id = "outStack">
        
    
            


            
    
            
        
        </stacklayout>
    </scrollView>
</Page>
