
<ScrollView class="image">
        
    <ActionBar class="action-bar">
        <Label class="action-bar-title" text="Log In"></Label>
    </ActionBar>

    <GridLayout columns="*, auto, auto" rows="auto, auto, auto"  verticalAlignment="center"   class="page">
        <!--  <textField #email hint = "Email" autocorrect = "false" class="input input-border" 
        text = '' row = "0" col="0"> 
                email field. #email name of the field, kinda like an id
        </textField>
        <textField #password hint = "Password" secure = "true" autocorrect = "false" 
        class="input input-border" row = "1" col="0">  password field. #password 
            name of the field, kinda like an id
        </textField> -->
        <StackLayout orientation="horizontal" horizontalAlignment="center" row = "3" col = "0">
            <!-- tap functions, I can access other elements by referencing the '#'-->
            <button text = "Sign in with Google"  
            (tap)="submit()" class = "google"></button> 
            
            

        </StackLayout>


    </GridLayout>

</ScrollView>
    